<h1> <%=  @question.inquire %>  </h1> 
<h2> <%= link_to '<', get_questions_path( :question => @question.id,:value =>
  false ) %> </h2> 
<h2> <%= link_to '>', get_questions_path( :question => @question.id,:value =>
 true ) %>  </h2>


