<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<<<<<<< HEAD
<p>Test: <%= @user.profile_image if @user.profile_image %></p>

<%= image_tag @user.profile_image %>
=======

<%= image_tag @user.profile_image, size: "206x250" %>
>>>>>>> origin/master
