<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
We ask the questions, and you answer. Keep answering questions and we will start matching you up with people who respond in kind.
</p>
